RestAndSoapTP/ClientAdmin/Connected Services/AdminLib/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminCommands" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminCommands_updateCacheDurationCitites_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCacheDurationCitites" />
  </wsdl:message>
  <wsdl:message name="IAdminCommands_updateCacheDurationCitites_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCacheDurationCititesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminCommands_updateCacheDurationStations_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCacheDurationStations" />
  </wsdl:message>
  <wsdl:message name="IAdminCommands_updateCacheDurationStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCacheDurationStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminCommands">
    <wsdl:operation name="updateCacheDurationCitites">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCommands/updateCacheDurationCitites" message="tns:IAdminCommands_updateCacheDurationCitites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCommands/updateCacheDurationCititesResponse" message="tns:IAdminCommands_updateCacheDurationCitites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCacheDurationStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCommands/updateCacheDurationStations" message="tns:IAdminCommands_updateCacheDurationStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCommands/updateCacheDurationStationsResponse" message="tns:IAdminCommands_updateCacheDurationStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminCommands" type="tns:IAdminCommands">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateCacheDurationCitites">
      <soap:operation soapAction="http://tempuri.org/IAdminCommands/updateCacheDurationCitites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCacheDurationStations">
      <soap:operation soapAction="http://tempuri.org/IAdminCommands/updateCacheDurationStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminCommands">
    <wsdl:port name="BasicHttpBinding_IAdminCommands" binding="tns:BasicHttpBinding_IAdminCommands">
      <soap:address location="http://localhost:8734/JCDLibrary/Admin/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>