RestAndSoapTP/ClientAdmin/Connected Services/AdminLib/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="updateCacheDurationCitites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCacheDurationCititesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCacheDurationCititesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCacheDurationStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCacheDurationStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCacheDurationStationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>