RestAndSoapTP/ClientGUIAsync/Connected Services/JCDLibrary/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VelibsRetriever" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JCDLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelibsRetriever_getCities_InputMessage">
    <wsdl:part name="parameters" element="tns:getCities" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getDataFromCity_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataFromCity" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getDataFromCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataFromCityResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getListStationFromCity_InputMessage">
    <wsdl:part name="parameters" element="tns:getListStationFromCity" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getListStationFromCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListStationFromCityResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getFidelityLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:getFidelityLevels" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getFidelityLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFidelityLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getLastUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastUpdate" />
  </wsdl:message>
  <wsdl:message name="IVelibsRetriever_getLastUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelibsRetriever">
    <wsdl:operation name="getCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibsRetriever/getCities" message="tns:IVelibsRetriever_getCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibsRetriever/getCitiesResponse" message="tns:IVelibsRetriever_getCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataFromCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibsRetriever/getDataFromCity" message="tns:IVelibsRetriever_getDataFromCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibsRetriever/getDataFromCityResponse" message="tns:IVelibsRetriever_getDataFromCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListStationFromCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibsRetriever/getListStationFromCity" message="tns:IVelibsRetriever_getListStationFromCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibsRetriever/getListStationFromCityResponse" message="tns:IVelibsRetriever_getListStationFromCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFidelityLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibsRetriever/getFidelityLevels" message="tns:IVelibsRetriever_getFidelityLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibsRetriever/getFidelityLevelsResponse" message="tns:IVelibsRetriever_getFidelityLevels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibsRetriever/getLastUpdate" message="tns:IVelibsRetriever_getLastUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibsRetriever/getLastUpdateResponse" message="tns:IVelibsRetriever_getLastUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelibsRetriever" type="tns:IVelibsRetriever">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCities">
      <soap:operation soapAction="http://tempuri.org/IVelibsRetriever/getCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataFromCity">
      <soap:operation soapAction="http://tempuri.org/IVelibsRetriever/getDataFromCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListStationFromCity">
      <soap:operation soapAction="http://tempuri.org/IVelibsRetriever/getListStationFromCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFidelityLevels">
      <soap:operation soapAction="http://tempuri.org/IVelibsRetriever/getFidelityLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastUpdate">
      <soap:operation soapAction="http://tempuri.org/IVelibsRetriever/getLastUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VelibsRetriever">
    <wsdl:port name="BasicHttpBinding_IVelibsRetriever" binding="tns:BasicHttpBinding_IVelibsRetriever">
      <soap:address location="http://localhost:8733/JCDLibrary/Client/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>